<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Nova Entrega</title>
</head>
<body>
<h1>Nova Entrega</h1>
<form th:action="@{/entregas}" th:object="${entrega}" method="post">
    <label>Remetente:</label>
    <input type="text" th:field="*{remetente}" />
    <label>Destinatário:</label>
    <input type="text" th:field="*{destinatario}" />
    <label>Status:</label>
    <input type="text" th:field="*{status}" />
    <button type="submit">Salvar</button>
</form>
<a th:href="@{/entregas}">Voltar</a>
</body>
</html>